.TagsBar{
    padding:5px 0px;
    height: 100px;
    overflow: scroll;
    background-color: white;
    border-bottom: 5em solid #2C5364;
    top:8%;
    position:fixed;
    z-index: 0;
    /* background-image: linear-gradient(to right,#FFFDE4,#FFFFE4); */
}

#ulTags{
    width: inherit;
    height: inherit;
    padding:0px 20px;
   
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-evenly;
}

#tag{
    background-color:#cccccc;
    float: left;
    margin:7px 10px 7px 10px;
    padding:5px 5px 5px 5px;
    border-radius: 15px;
   
    
}
/* #tag:hover{
    background-color: #222222;
    color:#cccccc;
} */

.tagLink{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #222222;
}